<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <!-- This layout encapsulates all other views, i.e.
  all of your erb files are embedded here between the body tags -->
  <nav>
    <ul>
      <li><a href="/">Home</a></li>

  <% if current_user %>
      <li><%= current_user.id %></li>
      <li><%= current_user.first_name %></li>
      <li><%= current_user.last_name %></li>
      <li><%= current_user.email %></li>
      <li><a href="/logout">Logout</a></li>
  <% else %>
      <li><a href="/login">Login</a></li>
      <li><a href="/user/new">Sign Up</a></li>
  <% end %>

    </ul>
  </nav>
  <div class="container">
    <% if @errors %>
      <div class="errors"><%= @errors %></div>
    <% end %>
    <%= yield %>
  </div>

</body>
</html>
